@media (max-width: 1600px) {

    html,
    body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .sc2 .content_wrap .profile {
        grid-template-columns: 220px minmax(0, 1fr);
        gap: 40px;
        white-space: normal;
    }

    .sc2 .content_wrap .profile>img {
        width: 100%;
        max-width: 220px;
    }

    .sc1 .inner_b,
    .sc2 .inner_b {
        width: 100%;
        padding: 0 20px;
    }

    .sc2 .content_wrap .profile .training {
        grid-column: 1 / -1;
    }

    .inner {
        width: 100%;
        padding: 0 20px;
    }

    .sc2 .skil_wrap {
        padding: 50px 0;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
    }
}

@media (max-width: 1440px) {

    .sc5 {
        padding: 40px 0 60px;
    }

    .sc5 .box_wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sc5 .m_box_left:nth-child(1),
    .sc5 .m_box_left:nth-child(3),
    .sc5 .m_box_right:nth-child(4) {
        transform: none;
    }

    .sc5 .m_box_right .sub_box_wrap .tit::after,
    .sc5 .m_box_left .sub_box_wrap .tit::before {
        content: none;
    }

    .sc5 img {
        max-width: 600px;
        width: 100%;
    }

    .sc5 .m_box_left,
    .sc5 .m_box_right {
        flex-direction: column;
        gap: 18px;
    }

    .sc5 .m_box_left .sub_box_wrap,
    .sc5 .m_box_right .sub_box_wrap {
        max-width: 500px;
        width: 100%;
    }

    .sc5 .m_box_left .sub_box_wrap,
    .sc5 .m_box_right .sub_box_wrap {
        margin: 0;
    }

    .f_box_wrap {
        transform: none;
    }

    .sc3 {
        margin-top: 5%;
    }

}

@media (max-width: 1260px) {
    .sc1 {
        background-size: 400px;
    }

    .sc1 .title_wrap .l_title h1,
    .r_title h1 {
        font-size: 56px;
    }

    .sc1 .main_txt .sc1_txt {
        font-size: 32px;
    }

    .sc1 .main_txt h1 {
        font-size: 48px;
    }

    .sc1 .go_notion {
        left: 4%;
        bottom: 84px;
    }

    .sc2 .content_wrap .profile .me {
        font-size: 40px;
    }

    .sc4 .inner .card_wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .sc1 .planet_ring,
    .sc1::after,
    .sc1 .planet_dot_front {
        width: 600px;
        height: 153px;
    }

    .sc1 .planet_dot_front span {
        offset-path: ellipse(300px 76.5px at 50% 50%);
    }
}

@media (max-width: 900px) {
    .sc3 .grid_box_wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .sc4 {
        padding-top: 80px;
    }

    /* Footer */
    .f_box_wrap {
        transform: none;
        padding: 0 30px 40px;
    }

    .f_box_wrap .title h1 {
        font-size: 54px;
    }
}



@media (max-width: 780px) {

    .sc1 .title_wrap {
        display: block;
    }

    .sc1 .title_wrap .r_title {
        margin-top: 6px;
        text-align: right;
    }

    .sc1 .gobottom img {
        width: 26px;
    }

    .sc1 .title_wrap .l_title h1,
    .r_title h1 {
        font-size: 48px;
    }

    .sc1 .main_txt .sc1_txt {
        font-size: 24px;
    }

    .sc1 .main_txt h1 {
        font-size: 36px;
    }

    .sc1 {
        background-size: 300px;
    }

    .sc1 .planet_ring,
    .sc1::after,
    .sc1 .planet_dot_front {
        width: 350px;
        height: 102px;
    }

    .sc1 .planet_dot_front span {
        offset-path: ellipse(200px 51px at 50% 50%);
    }

    .sc2 .web {
        position: static;
        margin: 0 20px 25px;
        text-align: right;
        font-size: 14px;
    }

    .sc2 .skil_wrap img {
        width: 42px;
    }

    .sc2 .skil_wrap .txt {
        flex: 0 0 100%;
        text-align: center;
    }

    .sc1 .title_wrap .l_title h1,
    .r_title h1 {
        font-size: 45px;
    }

    .sc1 .main_txt {
        bottom: 100px;
        left: 20px;
        right: auto;
    }

    .sc1 .go_notion {
        left: auto;
        right: 20px;
        bottom: 30px;
    }

    .sc1 .go_notion img {
        width: 40px;
    }

    .sc2 {
        margin-top: 40px;
    }



    .sc2 .content_wrap .profile {
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* align-items: center; */
        /* white-space: nowrap; */
    }

    .sc2 .content_wrap .profile .training .box .txt_wrap>p {
        padding-top: 10px;
    }

    .sc2 .content_wrap .profile .training .box .txt_wrap {
        padding-top: 4%;
    }

    .sc2 .content_wrap .profile>img {
        max-width: 180px;
    }

    .sc2 .content_wrap .profile .imform {
        text-align: center;
        width: 100%;
    }

    .sc2 .content_wrap .profile .me {
        font-size: 28px;

    }

    .sc2 .content_wrap .profile .onemin {
        font-size: 16px;
        padding-top: 4%;
        white-space: normal;
    }

    .sc2 .content_wrap .profile .training .box .title {
        font-size: 26px;
        white-space: normal;
    }

    .sc3 .tab {
        gap: 10px;
    }

    h2 {
        font-size: 36px;
    }

    .sc3 .tab .btn_sc {
        font-size: 13px;
        padding: 7px 18px;
    }

    .sc4 .inner .title {
        padding-bottom: 20px;
    }

    /* Footer */
    .f_box_wrap {
        padding: 0 20px 30px;
    }

    .f_box_wrap .title h1 {
        font-size: 32px;
        line-height: 1.4;
    }

    .f_box_wrap .sub_txt {
        font-size: 15px;
        padding: 30px 0;
        line-height: 1.6;
    }

    .f_box_wrap .info_wrap {
        gap: 15px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .f_box_wrap .info_wrap .mail,
    .f_box_wrap .info_wrap .git,
    .f_box_wrap .info_wrap .call {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .f_box_wrap .info_wrap .mail .txt,
    .f_box_wrap .info_wrap .git .txt,
    .f_box_wrap .info_wrap .call .txt {
        padding-top: 0;
    }

    .f_box_wrap .end_txt {
        font-size: 10px;
        line-height: 1.5;
        word-break: keep-all;
    }

    .b {
        display: block;
    }

    .work_modal {
        padding: 20px;
    }

    .modal_inner {
        width: 85%;
    }

    .modal_img {
        width: 100%;
        max-height: 80vh;
    }

}

@media (max-width: 640px) {
    .sc4 .inner .card_wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .sc3 .grid_box_wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .sc5 .m_box_right .sub_box_wrap,
    .sc5 .m_box_left .sub_box_wrap {
        padding: 20px 25px 25px;
    }

    .sc5 .m_box_left .tag_wrap {
        text-align: center;
    }

    .sc5 .m_box_right .sub_box_wrap .tit,
    .sc5 .m_box_left .tit {
        font-size: 27px;
    }

    .sc5 .m_box_right .tag_wrap,
    .sc5 .m_box_left .tag_wrap {
        margin-top: 10px;
        gap: 0;
    }



    .f_box_wrap .info_wrap {
        align-items: normal;
        padding-left: 42px;
    }

    .f_box_wrap .title h1 {
        font-size: 30px;
        line-height: 1.4;
    }
}